---
layout: default
---

<article>

	<h1 class="title">{{ page.title }}</h1>

	<div class="divider"></div>

	{{ content }}

    <br/>
  <h3> Selected Publications </h3>
    For full publications list, visit my <a href={{page.google_scholar}}>Google Scholar</a> profile.
    <br/>
    <br/>

  {% for x in page.publications %}
    <img class="publication__image" src={{x.img_link}}>
    <div class=publication__text>
        <h6>
        {{x.title}}
        </h6>
        {{x.authors}}
        <br/>
        <i> {{x.conference}}, </i> {{x.year}}
      {% if x.paper_link%}
        <br/>
        <a href={{x.paper_link}}>pdf</a>
      {% endif %}
      {% if x.code_link%}
        |
         <a href={{x.code_link}}>code</a> &nbsp;
      {% endif %}

      {% if x.tldr%}
        <br/>
        <br/>
        {{x.tldr}}
      {% endif %}

    </div>
    <br/>
    <br/>
  {% endfor %}

    <br/>
  <h3> Awards & Honors </h3>
  {% for x in page.awards %}
    <div class=awards>
      {% if x.link %}
        - <a href={{x.link}}>{{x.title}}</a> {{x.details}}
      {% else %}
        - {{x.title}}, {{x.details}}
      {% endif %}
    </div>
  {% endfor %}

    <br/>
  <h3> Professional Activities </h3>
      <div class=reviewer>
      {% if page.reviewer%}
        Conference Reviewer: {{page.reviewer}}
      {% endif %}
      </div>
  &nbsp;

</article>

<div class="page-navigation code">
	<a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back to Index">&larr; Index</a>
</div>
