---
layout: default
---

<article>

	<h1 class="title">{{ page.title }}</h1>

	<div class="divider"></div>

	{{ content }}

  <h3> Publications </h3>

  {% for x in page.publications %}
    <div class=publication>
      {% if x.title%}
        <h5>
        {{x.title}}
        </h5>
      {% endif %}
      {% if x.authors%}
        {{x.authors}}
      {% endif %}

      <br/>
      {% if x.conference%}
        <i> {{x.conference}}, </i> {{x.year}}
      {% endif %}

      <br/>
      {% if x.paper_link%}
        <a href={{x.paper_link}}>pdf</a> &nbsp;
      {% endif %}
      {% if x.code_link%}
         <a href={{x.code_link}}>code</a> &nbsp;
      {% endif %}
      <br/>
      &nbsp;
    </div>
  {% endfor %}

  <h3> Awards & Honors </h3>
  {% for x in page.awards %}
    <div class=awards>
      {% if x.link %}
        - <a href={{x.link}}>{{x.title}}</a> {{x.details}}
      {% else %}
        - {{x.title}}, {{x.details}}
      {% endif %}
    </div>
  {% endfor %}
  &nbsp;

  <h3> Professional Activities </h3>
      <div class=reviewer>
      {% if page.reviewer%}
        Conference Reviewer: {{page.reviewer}}
      {% endif %}
      </div>
  &nbsp;

</article>

<div class="page-navigation code">
	<a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back to Index">&larr; Index</a>
</div>
